<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>COME WITH SUNA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{assets/css/main.css}" />
    <noscript><link rel="stylesheet" th:href="@{assets/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper-->
<div id="wrapper">

    <!-- Nav -->
    <nav id="nav">
        <a href="#" class="icon solid fa-home"><span>Home</span></a>
        <a href="#skills" class="icon solid fa-folder"><span>Skills</span></a>
        <a href="#projects" class="icon solid fa-file-code"><span>Projects</span></a>
        <a href="#certiclass" class="icon solid fa-book-open"><span>Certi&Class</span></a>
        <a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
        <!--<a href="" class="icon brands fa-twitter"><span>Twitter</span></a>-->
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Me -->
        <article id="home" class="panel intro">
            <header>
                <h1>Suna Kim</h1>
                <p>Backend Developer</p>
            </header>
            <a href="#projects" class="jumplink pic">
                <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
                <img src="images/me.jpeg" alt="" />
            </a>
        </article>

        <!-- Skills -->
        <article id="skills" class="panel">
            <header>
                <h2>Skills</h2>
            </header>
            <p>
                백엔드 개발자로서 JAVA를 기반으로 다져 실력을 향상해왔습니다. 하지만 JAVA에만 국한되지 않고 제가 할 수 있는 모든 경험을 해보고자 하며
                프론트엔드 및 서버도 추가로 공부하여 저의 가능성을 넓혀가는 것에 흥미를 붙였고, 그로인해 많은 습득을 하게 되었습니다.
            </p>
            <section>
                <div class="row">
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/java.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/spring.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/jpa.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/nodejs.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/html.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/javascript.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/vuejs.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/mysql.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/aws.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/docker.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/kubernetes.png" alt=""></a>
                    </div>
                    <div class="col-4 col-6-medium col-12-small">
                        <a href="#" class="image fit"><img src="images/git.png" alt=""></a>
                    </div>
                </div>
            </section>
        </article>


        <!-- projects -->
        <article id="projects" class="panel">
            <header>
                <h2>Projects</h2>
            </header>
            <section>
                <div class="row">
                    <h4 class="col-6">KeyWiz 키워드 메이커 웹앱 개발</h4>
                    <div class="col-6">2023.06~2023.09</div>
                    <div class="col-12">Java11, Spring Boot, Spring data JPA, Javascript, Selenium, Jsoup, Git</div>
                    <div class="col-12">Backend 개발 / 기여도 40%</div>
                    <div class="col-12">
                        - 크롤링 할 키워드 Excel 파일 업로드 개발<br>
                        - 네이버, 다음 키워드 검색 후 해당 페이지 크롤링<br>
                        - 크롤링 데이터 Excel 다운로드 기능 개발<br>
                        - 셀레니움,Jsoup을 사용하여 동적 웹크롤링 기능 개발<br>
                        - Thread 이용해 동시 작업 Task 개발<br>
                        - Spring WebFlux 사용해 논블로킹 방식 크롤링 개발<br>
                    </div>
                    <div class="col-12">사업부서 키워드 광고 효율 데이터화 및 자료 제공</div>
                    <div class="col-12 "><a href="https://childish-epoch-cad.notion.site/Keywiz-ce2accb85fe74574a19c2c312b7a1d7b?pvs=4" target="_blank">프로젝트 상세 내역 보러 가기</a></div>
                </div>

                <hr>

                <div class="row">
                    <h4 class="col-6">업무요청 관리 웹앱 개발 프로젝트</h4>
                    <div class="col-6">2023.02~2023.05</div>
                    <div class="col-12">JAVA11, Spring Boot, Spring data JPA, querydsl, thymeleaf, Javascript, JQuery, BootStrap, Git</div>
                    <div class="col-12">Backend 개발 / 기여도 100%</div>
                    <div class="col-12">
                        - 광고주와 대행사 간의 업무 요청을 효율적으로 진행하기 위한 웹 페이지 개발 프로젝트<br>
                        - 공지사항 작성, 수정, 삭제 API 개발<br>
                        - 업무요청 작성, 수정, 삭제 API 개발<br>
                        - 업무 요청 진행 상황에 따른 코멘트 API 개발<br>
                        - 파일 다운로드 API 개발<br>
                        - 업무 변경 히스토리 로그 기록 서비스 개발<br>
                        - 광고주의 업무 요청 기록을 효율적으로 처리할 수 있으며, 요청 기록을 보다 편리하게 확인하는 효율 증대 기대<br>
                    </div>
                    <div class="col-12">업무 요청 처리 및 미처리 요청 등 파악 및 사업부서 업무에 도움</div>
                    <div class="col-12"><a href="https://childish-epoch-cad.notion.site/Work-Manager-Project-da252b142d2c4a4b8ea5ea80870d1ea5?pvs=74" target="_blank">프로젝트 상세 내역 보러 가기</a></div>
                </div>

                <hr>

                <div class="row">
                    <h4 class="col-6">COMAS SELF SERVICE 프로젝트</h4>
                    <div class="col-6">2022.07~2022.12</div>
                    <div class="col-12">JAVA11, Spring Boot, Spring data JPA, Javascript, Vue.js, Git</div>
                    <div class="col-12">Backend 개발 / 기여도 40%</div>
                    <div class="col-12">
                        - 소상공인을 위한 광고 집행 셀프 서비스 개발 프로젝트<br>
                        - 광고 집행 결과 리포트 API 개발<br>
                        - 외부 API 연동(Google, facebook, DSP API 호출 서비스 개발) <br>
                        - 광고주 계정 정보, 결제, 환불, 예치금 관리 API 개발<br>
                        - DSP DB 구축<br>
                        - 재사용 가능한 화면 컴포넌트 화<br>
                    </div>
                    <div class="col-12">국책과제 최종 보고 및 테스트 통과</div>
                    <div class="col-12"><a href="https://childish-epoch-cad.notion.site/COMAS-SELF-SERVICE-fa4bc06054134a3abbe7df615a3526c5?pvs=4" target="_blank">프로젝트 상세 내역 보러 가기</a></div>
                </div>

                <hr>

                <div class="row">
                    <h4 class="col-6">광고 문의 인바운드 웹앱 개발 프로젝트</h4>
                    <div class="col-6">2021.12~2022.05</div>
                    <div class="col-12">JAVA11, Spring Boot, Spring data JPA, querydsl, thymeleaf. Javascript, JQeuery, Ukit, Git</div>
                    <div class="col-12">Backend 개발 / 기여도 60%</div>
                    <div class="col-12">
                        - 신규 광고 집행을 위한 광고 문의 인바운드 웹앱 개발<br>
                        - JPA 를 활용한 광고 요청, 수정 API 개발<br>
                        - 신규 광고 문의 관리하는 백오피스(어드민) 페이지 개발<br>
                        - 파일 업로드, 다운로드 API 개발<br>
                        - 신규 광고 문의, 문의 답변 지연시 메일 발송 스케쥴러 개발<br>
                        - 광고 집행을 위한 광고주의 광고 신규 문의 상담이 진행될 수 있도록 사업부서와 협의하여 UI 변경 및 유지 보수 진행<br>
                        - 코드 개선 수행<br>
                    </div>
                    <div class="col-12">신규 광고 문의 유입률 증가 및 소규모 기업 광고 수주율 증가</div>
                    <div class="col-12"><a href="https://childish-epoch-cad.notion.site/374dfa0fa52b49a1a42ba5df20147cba?pvs=4" target="_blank">프로젝트 상세 내역 보러 가기</a></div>
                </div>
            </section>
        </article>

        <!-- certi and class -->
        <article id="certiclass" class="panel">
            <header>
                <h2>Certificate & Study</h2>
            </header>
            <p>
                업무에 도움이 되고, 한층 지식을 업그레이드 하고자 자격증 취득에 몰두하였습니다. 자격증만이 아니라 다른 교육들도 수강하여 지식의 폭을 넓혀가고자 합니다.
            </p>
            <section>
                <div>
                    <h4>• Certificate</h4>
                </div>

                <div class="row">
                    <div class="col-12 col-12-medium col-12-small">
                        AWS Certified Cloud Practitioner certificate (2022.07 취득)
                    </div>
                    <div class="col-12 col-12-medium col-12-small">
                        SQLD(2022.12 취득)
                    </div>
                    <div class="col-12 col-12-medium col-12-small">
                        Certified Kubernetes Administrator (2024.03 취득)
                    </div>
                    <div class="col-12 col-12-medium col-12-small">
                        정보처리기사 필기 (2024.03 취득)
                    </div>
                </div>
                <hr>
                <h4>• Study</h4>
                <div class="row">
                    <div class="col-12 col-12-medium col-12-small">
                        20.09 ~ 21.02 Backend Developer 및 Fullstack Developer 과정 / 이젠아카데미
                    </div>
                    <div class="col-12 col-12-medium col-12-small">
                        22.12~23.2 스프링부트와 JPA 활용 / 인프런
                    </div>
                    <div class="col-12 col-12-medium col-12-small">
                        23.10~23.12 호돌맨의 요절복통 개발쇼 (SpringBoot, Vue.js, AWS) / 인프런
                    </div>
                    <div class="col-12 col-12-medium col-12-small">
                        24.05~24.06 풀스택을 위한 도커와 최신 서버 기술(리눅스,nginx,AWS,HTTPS,flask 배포) / 인프런
                    </div>
                </div>
            </section>
        </article>

        <!-- Contact -->
        <article id="contact" class="panel">
            <header>
                <h2>Contact Me</h2>
            </header>
            <h3>EMAIL</h3>
            <a href="mailto:gina305496@gmail.com" target="_blank" rel="noopener noreferrer" class="underline">gina305496@gmail.com</a>
            <h3>TSTORY</h3>
            <a href="https://sunow.tistory.com/" target="_blank" rel="noopener noreferrer" class="underline">https://sunow.tistory.com/</a>
            <h3>GITHUB</h3>
            <a href="https://github.com/kim-sun-a/kim-sun-a" target="_blank" rel="noopener noreferrer" class="underline">https://github.com/kim-sun-a/kim-sun-a</a>
        </article>

    </div>

    <!-- Footer -->
    <div id="footer">
        <ul class="copyright">
            <li>&copy; 2024. KIMSUNA. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>

<!-- Scripts -->
<script th:src="@{assets/js/jquery.min.js}"></script>
<script  th:src="@{assets/js/browser.min.js}"></script>
<script  th:src="@{assets/js/breakpoints.min.js}"></script>
<script  th:src="@{assets/js/util.js}"></script>
<script  th:src="@{assets/js/main.js}"></script>

</body>
</html>